/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('font/Open-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('font/OpenSans-Semibold.ttf') format('truetype'), url('font/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('font/OpenSans-Light.ttf') format('truetype'), url('font/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('font/OpenSans-Bold.ttf') format('truetype'), url('font/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), local('ProximaNova'), url('font/ProximaNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* basic
-----------------------------------------------------------------------------*/

html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 18px 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fbfafa;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

a {
    text-decoration: none;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    position: relative;
    height: 330px;
    -webkit-box-shadow: inset 0px 74px 30px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 74px 30px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 74px 30px 0px rgba(0, 0, 0, 0.45);
    background-image: url(../img/header_imgs-min.png);
}

.header .insta-ref {
    float: right;
    margin: 10px 20px;
}

.header .insta-ref a {
    font-family: 'Proxima Nova';
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.header .insta-ref a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -27px;
    width: 20px;
    height: 20px;
    background-image: url(../img/insta-img.png);
}

.main-menu {
    background-image: url(../img/head-menu-bg.png);
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 108px;
}

.main-menu .menu-list {
    text-align: center;
    margin: 0 auto;
    columns: 2;
}

.main-menu .menu-list .menu-item {
    width: auto;
    height: 50px;
    font-size: 16px;
    margin-left: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.main-menu .menu-list .menu-item a {
    text-align: center;
    color: #2e2e2e;
    vertical-align: sub;
}

.main-menu .menu-list .menu-item a:hover {
    color: black;
    border-radius: 25px;
    background-color: rgba(40, 103, 130, 0.2);
    box-shadow: inset 1px 0px 20px 10px white;
}


/* Middle
-----------------------------------------------------------------------------*/

.content {
    padding: 0 0 74px;
}

.content .article {
    text-align: center;
}

.content .article h1 {
    max-width: 920px;
    color: #555559;
    position: relative;
    font-size: 24px;
    line-height: 40px;
    margin: 200px auto 80px;
    font-family: 'Open Sans', sans-serif;
}

.content .article h1::before {
    content: "";
    left: 0;
    right: 0;
    top: -100px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    position: absolute;
    background-image: url(../img/hotdog-min.png);
}

.content .article .intro-btn {
    padding: 0;
    height: 50px;
    width: 200px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
    margin: 6px auto 100px;
    background-color: #286782;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.content .article .about-hotdog {
    height: auto;
    display: block;
    overflow: hidden;
}

.content .article .about-hotdog .about-cont {
    width: 100%;
    height: 256px;
    float: left;
    display: block;
    font-size: 16px;
    text-align: left;
    color: #555559;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.content .article .about-hotdog .about-cont h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

.content .article .about-hotdog .about-cont h2::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 12px;
    width: 33px;
    height: 4px;
    visibility: hidden;
    background-image: url(../img/about-headline-rect.png);
}

.content .article .about-hotdog img {
    display: block;
    width: 100%;
    height: auto;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    max-width: 1440px;
    margin: -74px auto 0;
    height: 74px;
    background: #efefef;
    position: relative;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555559;
}

.footer div {
    display: inline-block;
    margin: 10px 20px auto;
    box-sizing: border-box;
}

.footer .trade-mark {
    float: left;
}

.footer .contacts {
    float: right;
    width: 290px;
    margin-right: 0;
}

.footer .contacts p {
    display: inline-block;
}

.footer .contacts p::after {
    content: "|";
    margin-left: 10px;
}

.footer .contacts .phone-num::after {
    content: "|";
    margin: 0 10px;
}

.footer .contacts a {
    color: #555559;
}