/* Fonts
-----------------------------------------------------------------------------*/

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('font/Open-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Semibold';
    src: local('Open Sans-Semibold'), local('OpenSans-Semibold'), url('font/OpenSans-Semibold.ttf') format('truetype'), url('font/OpenSans-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Light';
    src: local('Open Sans-Light'), local('OpenSans-Light'), url('font/OpenSans-Light.ttf') format('truetype'), url('font/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans-Bold';
    src: local('Open Sans-Bold'), local('OpenSans-Bold'), url('font/OpenSans-Bold.ttf') format('truetype'), url('font/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'), local('ProximaNova'), url('font/ProximaNova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* basic
-----------------------------------------------------------------------------*/

html {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 18px 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #fbfafa;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

a {
    text-decoration: none;
}


/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 580px;
    background-image: url(../img/header_imgs.png);
    position: relative;
    -webkit-box-shadow: inset 0px 150px 50px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 150px 50px 0px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 150px 60px 0px rgba(0, 0, 0, 0.45);
}

.header .insta-ref {
    float: right;
    margin: 10px 20px;
}

.header .insta-ref a {
    font-family: 'Proxima Nova';
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.header .insta-ref a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -27px;
    width: 20px;
    height: 20px;
    background-image: url(../img/insta-img.png);
}

.main-menu {
    background-image: url(../img/head-menu-bg.png);
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 108px;
}

.main-menu .menu-list {
    text-align: center;
    margin: 0 auto;
}

.main-menu .menu-list .menu-item {
    width: auto;
    height: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 100px;
    display: inline-block;
    font-family: 'Open Sans-Semibold', sans-serif;
    text-transform: uppercase;
    margin-right: 65px;
}

.main-menu .menu-list .menu-item a {
    text-align: center;
    color: #2e2e2e;
}

.main-menu .menu-list .menu-item a:hover {
    color: black;
    border-radius: 25px;
    background-color: rgba(40, 103, 130, 0.2);
    box-shadow: inset 1px 0px 20px 10px white;
}


/* Middle
-----------------------------------------------------------------------------*/

.content {
    padding: 0 0 74px;
}

.content .article {
    text-align: center;
}

.content .article h1 {
    font-family: 'Open Sans-Light', sans-serif;
    width: 920px;
    color: #555559;
    margin: 240px auto 90px;
    line-height: 100px;
    font-size: 55px;
    position: relative;
}

.content .article h1::before {
    content: "";
    width: 92px;
    height: 92px;
    position: absolute;
    margin: 0 auto;
    top: -138px;
    left: 0;
    right: 0;
    background-image: url(../img/hotdog.png);
}

.content .article .intro-btn {
    margin: 6px auto 174px;
    padding: 0;
    height: 64px;
    width: 310px;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: #286782;
    font-family: 'Open Sans-Semibold', sans-serif;
}

.content .article .about-hotdog  {
    height: 575px;
    vertical-align: top;
}
.contacts .article .about-hotdog:nth-child(2) p{
    float: right;
}

.content .article .about-hotdog p {
    display: inline-block;
    width: 50%;
    height: 575px;
    float: left;
    vertical-align: top;
    padding: 223px 140px 238px;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Open Sans-Light', sans-serif;
    color: #555559;
}

.content .article .about-hotdog p span {
    font-family: 'Open Sans-Bold', sans-serif;
    display: block;
    font-size: 24px;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer {
    width: 1440px;
    margin: -74px auto 0;
    height: 74px;
    background: #efefef;
    position: relative;
    font-size: 14px;
}
.footer div {
    display: inline-block;
    margin: 32px 20px;
    box-sizing: border-box;
}
.footer .trade-mark {
    float: left;
}
.footer .contacts {
    float: right;
    
}